<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>convert_text_to_voice</title>
    <style>
        div{
          height:auto;
          width:500px;
          border: 1px solid black;
          margin: auto;
          padding: 5px 0px 0px 30px;
        }
        input[type='text']{
          height:30px;
          width: 450px;
        }
    </style>
</head>
<body>
<div>
    <form method="get" action="ss">
        <input type="text" name="text_audio" placeholder="Enter your text here...">
        <center><input type="submit"></center>
    </form>
</div>
</body>
</html>